/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/logs/*
/app/sessions/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.elasticbeanstalk/
/web/assets/css/.sass-cache/*
/web/assets/css/config.codekit