{% trans_default_domain 'FOSUserBundle' %}

<a class="button register-social twitter" href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" alt="Connect with Twitter"><span class="icon-twitter"></span> Connect with Twitter</a>
<a class="button register-social facebook" href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Connect with Facebook"><span class="icon-facebook"></span>Connect with Facebook</a>