{# Extends the base layout #}

{% extends "base.html.twig" %}

{% block logo %}
<div class="home-logo">
	<img class="svg-img lists-bg" src="{{ asset('assets/images/lists.svg') }}"><br>
	<h3 class="title">Lists.io</h3>
</div>
{% endblock %}
 
{% block body %}
		
		{% block fos_user_content %}{% endblock %}
       
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="container">
        </div>
{% endblock %}