commands:
  01getComposer:
    command: curl -s https://getcomposer.org/installer | php
  02installComposer:
    command: mv composer.phar /usr/bin/composer
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root