option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: IS_EBS_ENV
    value: 1
container_commands:
  01setServerPermissions:
    command: setfacl -R -m u:elasticbeanstalk:rwX -m u:ec2-user:rwX $EB_CONFIG_APP_CURRENT/app/cache  $EB_CONFIG_APP_CURRENT/app/logs
  02setCLIPermissions:
    command: setfacl -dR -m u:elasticbeanstalk:rwX -m u:ec2-user:rwX  $EB_CONFIG_APP_CURRENT/app/cache  $EB_CONFIG_APP_CURRENT/app/logs