option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: IS_EBS_ENV
    value: 1
container_commands:
  04getApacheUser:
    command: APACHEUSER=`ps aux | grep -E '[a]pache|[h]ttpd|[_]www|[w]ww-data' | grep -v root | head -1 | cut -d\  -f1`
  05setServerPermissions:
    command: setfacl -R -m u:"$APACHEUSER":rwX -m u:`whoami`:rwX app/cache app/logs
  06setCLIPermissions:
    command: setfacl -dR -m u:"$APACHEUSER":rwX -m u:`whoami`:rwX app/cache app/logs