option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: IS_EBS_ENV
    value: 1
commands:
  04setPermissions1:
    command: setfacl -R -m u:"$APACHEUSER":rwX -m u:`whoami`:rwX /var/app/current/app/cache /var/app/current/app/logs
  05setPermissions2:
    command: setfacl -dR -m u:"$APACHEUSER":rwX -m u:`whoami`:rwX /var/app/current/app/cache /var/app/current/app/logs