parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: lists
    database_user: root
    database_password:
    mailer_transport: smtp
    mailer_host:
    mailer_user:
    mailer_password:
    locale: en
    secret: NotASecret
    twitter.key:
    twitter.secret:
    facebook.api_id:
    facebook.api_secret:
