{% set following = app.user.isFollowing(followed) %}
{% if app.user.id != followed.Id %}
    <div class="follow-button {{ following ? 'following' : '' }}" data-followed_id="{{ followed.Id }}">
        {{ following ? 'Unfollow' : 'Follow' }}
    </div>
{% endif %}